<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Домашняя страница</h1>
        <div class="wrapper">
            <h2>Выберите раздел</h2>
            <ul>
                {% for title, url in pages.items %}
                    <li>
                        <a href="{{ url }}">{{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>