{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ol>
  {% for student in object_list %}
    <li style="margin-bottom: 20px"><span style="font-size: 20px">{{ student.name }} - {{ student.group }} : </span>
      <ul style="margin-top: 5px">
      {% for teacher in student.teachers.all %}
        <li><strong>Преподаватель ({{ teacher.subject }})</strong>: {{ teacher.name }} </li>
      {% endfor %}
      </ul> 
    </li>
  {% endfor %}
  </ol>
</div>
{% endblock %}
